@using Examenes.ViewModels;
@model RoleCreateViewModel

<form asp-action="Create" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="RoleName" class="control-label"></label> <!--Estas 3 lineas labe, input y span junto al submit son las importantes(dentro del formulario)-->
        <input asp-for="RoleName" class="form-control"/>
        <span asp-validation-for="RoleName" class="text-danger"></span>
    </div>
    <div class="form-group mt-3">
        <input type="submit" value="Crear" class="btn btn-primary">
    </div>
</form>

<div>
    <a asp-action="Index">Volver a la lista</a>
</div>