@using Microsoft.AspNetCore.Identity
@model List<IdentityRole>

@if (User.Identity != null && User.Identity.IsAuthenticated)
{

    @if (User.IsInRole("Administrador"))
    {
        <h1>Roles</h1>
        <div class="row mt-2 mb-2">
            <a asp-action="Create" class="col-2 btn btn-success">Agregar nuevo Rol</a>
        </div>
        <ul>
            @foreach (var item in Model)
            {
                <li>
                    @item.Name
                </li>
            }
        </ul>
    }
    else
    {
        <div class="alert alert-danger" style="margin-top:5%">
            <p class="text-center m-auto">No tiene permisos para acceder a esta seccion.</p>
        </div>
    }
}
else
{
    <div class="alert alert-danger" style="margin-top:5%">
        <p class="text-center m-auto">Debe registrarse para poder acceder a las funcionalidades de esta pagina web.</p>
    </div>
}