@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
  <div class="col-sm-5 mb-3 text-center">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Registra un nuevo cliente</h5>
        <p class="card-text">Registra los datos de un nuevo cliente para poder generar sus pedidos.</p>
        <a asp-area="" asp-controller="Client" asp-action="Create" class="btn btn-primary">Clientes</a>
      </div>
    </div>
  </div>
  <div class="col-sm-5 mb-3 text-center">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Genera un nuevo producto</h5>
        <p class="card-text">Carga un nuevo producto para ser usado en los pedidos.</p>
        <a asp-area="" asp-controller="Product" asp-action="Create" class="btn btn-primary">Nuevo producto</a>
      </div>
    </div>
  </div>
    <div class="col-sm-5 mb-3 text-center">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Verifica las direcciones por cliente</h5>
        <p class="card-text">Listado de direcciones registradas de todos clientes.</p>
        <a asp-area="" asp-controller="Address" asp-action="Index" class="btn btn-primary">Direcciones</a>
      </div>
    </div>
  </div>
    <div class="col-sm-5 mb-3 text-center">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Lista de productos</h5>
        <p class="card-text">Listado de productos listos para ser utilizados en pedidos.</p>
        <a asp-area="" asp-controller="Product" asp-action="Index" class="btn btn-primary">Productos</a>
      </div>
    </div>
  </div>
    </div>
    <div class="col-sm-10 mb-3 text-center">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Generar un pedido</h5>
        <p class="card-text">Registra los datos de un cliente, direccion y productos para generar un pedido.</p>
        <a class="btn btn-primary" asp-area="" asp-controller="Order" asp-action="Index">Nueva orden</a>
      </div>
    </div>
  </div>
</div>

